* {
  box-sizing: border-box;
  font-size: 23px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(to right, #bfd3d3, #0b6b06a8 );
  
}
.grid-container{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5,100px);
}


.grid-container> button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: black;
  color: aliceblue;
}

.grid-container> .operator{
  background: #41b83b;
}
.span-two{
  grid-column: span 2;
}
.grid-container> .output{
  grid-column: 1 / -1;
  background: #233333;
  display: flex;
  flex-direction: column;
 align-items: flex-end;
 justify-content: space-around;
 padding: 9px;
 word-wrap: break-word;
 word-break: break-all; 
}
.grid-container>.output>.previous-operand{
  color: #111313;
  font-size: 1.5rem;
}

.grid-container> .output> .current-operand{
  color: white;
  font-size: 2.4rem;
}